{% load static %}
<!doctype html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <title>{{ titulo }} | {{ nombreempresa }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="description" content="{{ nombreempresa }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="theme-color" content="#2874A6">
    <meta name="vapid-key" content="{{ vapid_key }}">
    <meta name="islogged" content="{{ request.user.is_authenticated }}">
    <link rel="stylesheet" href="/static/sitio/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/vendor/font.awesome.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/vendor/linearicons.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/plugins/nice-select.min.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/static/sitio/assets/css/style.css">
    <style>
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .btn:focus-visible {
            border-color: transparent !important; /* Borde transparente */
            outline: 0;
            box-shadow: none; /* Eliminar el sombreado si está presente */
        }


        /* Primary Button */
        .btn-primary {
            color: #fff;
            background-color: #E72463 !important;
            border-color: #E72463 !important;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #C71E5B !important;
            border-color: #C71E5B !important;
        }

        /* Success Button */
        .btn-success {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #218838;
            border-color: #1e7e34;
        }

        /* Danger Button */
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn-custom {
            background-color: #E72463; /* Color de fondo */
            color: white; /* Color del texto */
            border-color: #E72463; /* Color del borde */
        }

        .btn-custom:hover {
            background-color: #C71E5B; /* Color de fondo al pasar el mouse */
            border-color: #C71E5B; /* Color del borde al pasar el mouse */
        }


    </style>
    <script>
        {% if activar_cambio_clave %}
            window.location.href = "/changepass/";
        {% endif %}
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>

<header class="main-header-area">
    <!-- Main Header Area Start -->
    <div class="main-header header-transparent header-sticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                    <div class="header-logo d-flex align-items-center">
                        <a href="index.html">
                            <img class="img-full" src="/static/sitio/assets/images/logo/logo.png" alt="Header Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                    <nav class="main-nav d-none d-lg-flex">
                        <ul class="nav">
                            <li>
                                <a href="/">
                                    <span class="menu-text"> Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a href="/catalogo/">
                                    <span class="menu-text"> Catálogo</span>
                                </a>
                            </li>
                            {% if not request.user.is_authenticated %}
                                <li>
                                    <a href="/login/">
                                        <span class="menu-text"><i class="fa fa-sign-in"></i> Iniciar Sesión</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/register/">
                                        <span class="menu-text"><i class="fa fa-user-plus"></i> Regístrate</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="active" href="#">
                                        <span class="menu-text"><i
                                                class="fa fa-user"></i> Hola, {{ request.user.primernombre }}</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        {% if request.user.es_administrativo %}
                                            <li><a href="/panel/"><i class="fa fa-lock"></i>
                                                Administración</a></li>
                                        {% endif %}
                                        <li><a href="/perfil/"><i class="fa fa-user-circle"></i>
                                            Perfil</a></li>
                                        <li><a href="/logout/"><i class="fa fa-sign-out"></i> Cerrar
                                            Sesión</a></li>
                                        {% if sesion_anterior %}
                                            <li>
                                                <a href="/seguridad/regresar-sesion/?path={{ request.path }}"><i
                                                        class="fa fa-user"></i> Regresar a mi sesión</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-6 col-6 col-custom">
                    <div class="header-right-area main-nav">
                        <ul class="nav">
                            <li class="minicart-wrap">
                                <a href="#" class="minicart-btn toolbar-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-item_count">3</span>
                                </a>
                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="/static/sitio/assets/images/cart/1.jpg"
                                                                     alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Odio tortor consequat</a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="/static/sitio/assets/images/cart/2.jpg"
                                                                     alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Integer eget augue</a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="/static/sitio/assets/images/cart/3.jpg"
                                                                     alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Eleifend quam</a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-price-total d-flex justify-content-between">
                                        <h5>Total :</h5>
                                        <h5>$166.00</h5>
                                    </div>
                                    <div class="cart-links d-flex justify-content-between">
                                        <a class="btn product-cart button-icon flosun-button dark-btn" href="/carrito">Ver Carrito</a>
                                        <a class="btn flosun-button secondary-btn rounded-0" href="/checkout">Confirmar</a>
                                    </div>
                                </div>
                            </li>
                            <li class="mobile-menu-btn d-lg-none">
                                <a class="off-canvas-btn" href="#">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header Area End -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper" id="mobileMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="fa fa-times"></i>
            </div>
            <div class="off-canvas-inner">
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search product...">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="#">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home Page 1</a></li>
                                    <li><a href="index-2.html">Home Page 2</a></li>
                                    <li><a href="index-3.html">Home Page 3</a></li>
                                    <li><a href="index-4.html">Home Page 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Shop</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title has-children"><a href="#">Shop Layouts</a>
                                        <ul class="dropdown">
                                            <li><a href="shop.html">Shop Left Sidebar</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-list-left.html">Shop List Left Sidebar</a></li>
                                            <li><a href="shop-list-right.html">Shop List Right Sidebar</a></li>
                                            <li><a href="shop-fullwidth.html">Shop Full Width</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title has-children"><a href="#">Product Details</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">Single Product Details</a></li>
                                            <li><a href="variable-product-details.html">Variable Product Details</a>
                                            </li>
                                            <li><a href="external-product-details.html">External Product Details</a>
                                            </li>
                                            <li><a href="gallery-product-details.html">Gallery Product Details</a></li>
                                            <li><a href="countdown-product-details.html">Countdown Product Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-title has-children"><a href="#">Others</a>
                                        <ul class="dropdown">
                                            <li><a href="error404.html">Error 404</a></li>
                                            <li><a href="compare.html">Compare Page</a></li>
                                            <li><a href="cart.html">Cart Page</a></li>
                                            <li><a href="checkout.html">Checkout Page</a></li>
                                            <li><a href="wishlist.html">Wish List Page</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><a href="#">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                                    <li><a href="blog-list-fullwidth.html">Blog List Fullwidth</a></li>
                                    <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                    <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                    <li><a href="blog-grid-fullwidth.html">Blog Grid Fullwidth</a></li>
                                    <li><a href="blog-details-sidebar.html">Blog Details Sidebar Page</a></li>
                                    <li><a href="blog-details-fullwidth.html">Blog Details Fullwidth Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="frequently-questions.html">FAQ</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="login-register.html">login &amp; register</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
                <div class="offcanvas-widget-area">
                    <div class="switcher">
                        <div class="language">
                            <span class="switcher-title">Language: </span>
                            <div class="switcher-menu">
                                <ul>
                                    <li><a href="#">English</a>
                                        <ul class="switcher-dropdown">
                                            <li><a href="#">German</a></li>
                                            <li><a href="#">French</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="currency">
                            <span class="switcher-title">Currency: </span>
                            <div class="switcher-menu">
                                <ul>
                                    <li><a href="#">$ USD</a>
                                        <ul class="switcher-dropdown">
                                            <li><a href="#">€ EUR</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-info-wrap text-left text-black">
                        <ul class="address-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="info%40yourdomain.html">(1245) 2456 012</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="info%40yourdomain.html">info@yourdomain.com</a>
                            </li>
                        </ul>
                        <div class="widget-social">
                            <a class="facebook-color-bg" title="Facebook-f" href="#"><i
                                    class="fa fa-facebook-f"></i></a>
                            <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="linkedin-color-bg" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-menu-wrapper" id="sideMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="off-canvas-inner">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <ul class="menu-top-menu">
                        <li><a href="about-us.html">About Us</a></li>
                    </ul>
                    <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="switcher">
                        <div class="language">
                            <span class="switcher-title">Language: </span>
                            <div class="switcher-menu">
                                <ul>
                                    <li><a href="#">English</a>
                                        <ul class="switcher-dropdown">
                                            <li><a href="#">German</a></li>
                                            <li><a href="#">French</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="currency">
                            <span class="switcher-title">Currency: </span>
                            <div class="switcher-menu">
                                <ul>
                                    <li><a href="#">$ USD</a>
                                        <ul class="switcher-dropdown">
                                            <li><a href="#">€ EUR</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-info-wrap text-left text-black">
                        <ul class="address-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="info%40yourdomain.html">(1245) 2456 012</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="info%40yourdomain.html">info@yourdomain.com</a>
                            </li>
                        </ul>
                        <div class="widget-social">
                            <a class="facebook-color-bg" title="Facebook-f" href="#"><i
                                    class="fa fa-facebook-f"></i></a>
                            <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="linkedin-color-bg" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
</header>

{% block content %}
{% endblock %}

<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="/media/{{ confi.logo_sistema_white }}" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content">{{ confi.descripcion }}</p>
                        <div class="social-links">
                            <ul class="d-flex">
                                {% for l in listredessociales %}
                                    <li>
                                        <a class="rounded-circle" href="{{ l.href }}"
                                           target="_blank" title="{{ l.nombre }}">
                                            <i class="{{ l.icono|safe }}"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Información de Contacto</h2>
                        <ul class="widget-list">
                            {% if confi.direccion %}
                            <li>{{ confi.direccion }}</li>
                            {% endif %}
                            {% if confi.telefono %}
                            <li><a href="tel:{{ confi.telefono }}">{{ confi.telefono }}</a></li>
                            {% endif %}
                            {% if confi.telefono2 %}
                            <li><a href="tel:{{ confi.telefono2 }}">{{ confi.telefono2 }}</a></li>
                            {% endif %}
                            {% if confi.email %}
                            <li><a style="padding-bottom: 24px;"
                                   href="mailto:{{ confi.email }}">{{ confi.email }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Información</h2>
                        <ul class="widget-list">
                            <li>
                                <a href="/termsandconditions/">Terminos y Condiciones</a>
                            </li>
                            <li>
                                <a href="/privacy/">Privacidad</a>
                            </li>
                            <li>
                                <a href="/faq/">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a class="scroll-to-top" href="#">
    <i class="lnr lnr-arrow-up"></i>
</a>

<script src="https://kit.fontawesome.com/a96c5b6f8d.js" crossorigin="anonymous"></script>
<script src="/static/citas/assets/js/jquery-3.6.1.min.js"></script>
<script src="/static/sitio/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="/static/sitio/assets/js/vendor/modernizr-3.7.1.min.js"></script>
<script src="/static/sitio/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/static/sitio/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="/static/sitio/assets/js/plugins/nice-select.min.js"></script>
<script src="/static/sitio/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/static/sitio/assets/js/plugins/jquery-ui.min.js"></script>
<script src="/static/sitio/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/static/sitio/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/static/sitio/assets/js/main.js"></script>
{# Alert dialogs #}
<script type="text/javascript" src="/static/alertsDialogsMobile/alertDialogMaterialDesign/dist/duDialog.js"></script>
<script src='/static/alertsDialogsMobile/alertDialogCupertino/js/component.js'></script>
<!-- Plugins -->
<link rel="stylesheet" href="/static/izitoast/css/iziToast.min.css">
<script src="/static/izitoast/js/iziToast.min.js" type="text/javascript"></script>
<script src="/static/jquery.blockUI.js"></script>
<link rel="stylesheet" href="/static/dropify/css/dropifycitas.min.css?1.1">
<script src="/static/dropify/js/dropify.min.js"></script>
<script src="/static/validaciones/funciones.js?v=3"></script>
<link rel="stylesheet" href="/static/sweetalert2/sweetalert2.css?1.0">
<script src="/static/sweetalert2/sweetalert2.js"></script>
<link rel="stylesheet" href="/static/autocomplement/jquery.autocomplete.css">
<script src="/static/autocomplement/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="/static/spinner.css?0.6" type="text/css"/>
<link rel="stylesheet" href="/static/izitoast/css/iziToast.min.css">
<script src="/static/izitoast/js/iziToast.min.js" type="text/javascript"></script>
<link href="/static/select2/select2.min.css?13" rel="stylesheet">
<script src="/static/select2/select2.min.js"></script>
<script src="/static/select2/i18n/es.js?0.2"></script>
<script>

    window.onload = function () {
        {% if messages %}
            {% for message in messages %}
                Swal.fire('{{ message }}', '{{ nombreempresa }}', '{% if message.tags %}{{ message.tags }}{% endif %}');
            {% endfor %}
        {% endif %}
    }


    function pantallaespera() {
        $.blockUI({
            {#message: '<span class="spinner-grow spinner-border-lg" role="status" aria-hidden="true" style="width: 5rem; height: 5rem; background-color: #fc5c00; color: #fc5c00; !important"</span>',#}
            message: `<div id="loader" class="m-loaders-spinner"><div class="spinner"><div class="right-side"><div class="bar"></div></div><div class="left-side"><div class="bar"></div></div></div></div>`,
            css: {
                backgroundColor: 'transparent',
                border: '0',
                zIndex: 9999999
            },
            overlayCSS: {
                backgroundColor: '#21242d59',
                opacity: 0.8,
                zIndex: 9999990
            }
        });
    }


    function getPromise(url, params) {
        return new Promise(resolve => {
            //$.get(url, {data: JSON.stringify(params)}, function (data) {
            $.get(url, params, function (data) {
                resolve(data);
            }, 'json');
        });
    }

    function postPromise(url, params) {
        return new Promise(resolve => {
            $.post(url, params, function (data) {
                resolve(data);
            }, 'json');
        });
    }

    function alertaSuccess(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'success',
            title: mensaje,
            showConfirmButton: false,
            timer: 3000
        })
    }

    function alertaWarning(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'warning',
            title: mensaje,
            showConfirmButton: false,
            timer: 3000
        })
    }

    function alertaDanger(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'error',
            title: mensaje,
            showConfirmButton: false,
            timer: 3000
        })
    }

    function mensajeSuccess(mensaje) {
        Swal.fire('', mensaje, 'success')
    }

    function mensajeWarning(mensaje) {
        Swal.fire('', mensaje, 'warning')
    }

    function mensajeDanger(mensaje) {
        Swal.fire('', mensaje, 'error')
    }

    function back() {
        history.back();
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    function toastMensaje(mensaje, timeout = 20000, icon = 'fa fa-question-circle', pauseOnHover = true, image = '', buttons = []) {
        iziToast.show({
            theme: 'dark',
            icon: icon,
            image: image,
            title: '{{ nombreempresa }}',
            displayMode: 2,
            pauseOnHover: pauseOnHover,
            message: mensaje,
            buttons: buttons,
            position: 'topCenter',
            transitionIn: 'flipInX',
            transitionOut: 'flipOutX',
            progressBarColor: '#F4D03F',
            layout: 2,
            iconColor: '#F1C40F',
            balloon: true,
            timeout: timeout,
        });
    }

    function contactarwhatsapp() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            let url = `https://api.whatsapp.com/send?phone=+593{{ telefonoempresa }}&text=Hola *{{ nombreempresa }}* necesito información sobre`;
            window.open(url);
        } else {
            let url = `https://web.whatsapp.com/send?l=en&phone=+593{{ telefonoempresa }}&text=Hola *{{ nombreempresa }}* necesito información sobre`;
            window.open(url);
        }
    }


    $('.valnum').on('keypress', function (e) {
        return soloNumeros(e)
    })

</script>

{% block jscript %}
{% endblock %}


</body>
</html>