{% extends 'base.html' %}
{% load templatefunctions %}
{% block atras %}/seguridad/grupo/{% endblock %}
{% block content %}

    <div class="panel panel-default" data-sortable-id="form-stuff-2">

        <div class="panel-heading ui-sortable-handle">
            <h4 class="panel-title">{{ titulo }} Formulario</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                        class="fa fa-expand"></i></a>
            </div>
        </div>

        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" action="{{ ruta }}"
                  class="form-horizontal form-label-left">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ pk|default:0 }}"/>
                <input type="hidden" name="action" value="{{ action }}"/>
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% elif field.name == 'modulos' %}
                        <div class="form-group">
                            <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <ul id="id_{{ field.name }}" class="row">
                                {% for m in modulos_agrupados %}
                                    <li class="col-12">
                                        <div>
                                            <strong><i class="{{ m.icono }} mr-1"></i>{{ m.nombre }}</strong>
                                        </div>
                                        <ul>
                                            {% for u in m.modulos.all %}
                                                <li>
                                                    <label style="cursor: pointer;" for="id_modulos_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                                        <input type="checkbox" name="modulos" value="{{ u.id }}"
                                                               data-render="switchery" data-theme="blue"
                                                               id="id_modulos_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                                               class="js-switch" {% if u.id in modulos_seleccionados %}checked{% endif %} {% if ver %}readonly{% endif %}>
                                                        {{ u.nombre }} (<a href="{{ u.url }}" target="_blank"> {{ u.url }}</a>)
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <a class="btn btn-danger" style="color: #ffffff;" href="/seguridad/grupo/">
                        <i class="fa fa-window-close"></i> Cancelar
                    </a>
                    <button {% if action != 'ver' %}type="submit" id="submit"{% else %}disabled{% endif %}
                            class="btn btn-success">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>

    </div>


{% endblock %}

{% block jscript %}
    {{ form.media }}
{% endblock %}