{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}
{% block atras %}{{ request.path }}{% endblock %}
{% block content %}
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2">

        <div class="panel-heading ui-sortable-handle">
            <h4 class="panel-title">Order Detail # {{ compra.pk }}</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                        class="fa fa-expand"></i></a>
            </div>
        </div>

        <div class="panel-body">
            <div class='row'>
                <div class="col-lg-6">
                    <section class="bg-light">
                        <div class="invoice border">
                            <div class="invoice-header">
                                <div class="invoice-from">
                                    <small>Customer</small>
                                    <address class="m-t-5 m-b-5">
                                        <strong class="text-inverse">{{ compra.user.get_full_name }}</strong><br/>
                                        <div class="row">
                                            <div class="col-auto pr-0"><i class="far fa-id-card mr-1"></i></div>
                                            <div class="col p-0">{{ compra.user.documento|default:'Sin especificar'|upper }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto pr-0"><i class="fas fa-map-marked-alt mr-1"></i></div>
                                            <div class="col p-0">{{ compra.user.ciudad }}, {{ compra.user.ciudad.provincia }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto pr-0"><i class="fas fa-phone-alt mr-1"></i></div>
                                            <div class="col p-0">{{ compra.user.telefono|default:'' }}</div>
                                        </div>
                                    </address>
                                    <small>Pilot</small>
                                    <address class="m-t-5 m-b-5">
                                        <strong class="text-inverse">
                                            {{ compra.pilot_turn.pilot.username }} - {{ compra.pilot_turn.pilot }}
                                        </strong><br/>
                                        <i class="fa-regular fa-clock"></i> {{ detalle.minutos_calculados }} H<br>
                                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ compra.pilot_turn.latitud|unlocalize }},{{ compra.pilot_turn.longitud|unlocalize }}"><i class="fa-solid fa-map-location-dot"></i> View in GMaps</a><br>
                                        <i class="fas fa-phone-alt"></i> {{ compra.pilot_turn.telefono }}
                                    </address>
                                </div>
                                <div class="invoice-date">
                                    <small>Purchase #{{ compra.pk }}</small>
                                    <div class="date text-inverse m-t-5">{{ compra.fecha_registro|date:'E d, Y' }}</div>
                                    <div class="invoice-detail">
                                        <div>Payment method:</div>
                                        <div>{{ compra.get_icon }}
                                            <strong>{{ compra.get_metodo_pago_display }}</strong></div>
                                    </div>
                                    <div class="invoice-detail">
                                        <div>Voucher:</div>
                                        {% if compra.metodo_pago == "TRANSFERENCIA_BANCARIA" %}
                                            <div>
                                                {% with urlarchivo='https://docs.google.com/gview?url='|add:URL_GENERAL|add:compra.archivo_pago.url|add:'&embedded=true' %}
                                                    <a {% if compra.archivo_pago_is_image %}data-fancybox="image"
                                                       href="{{ compra.archivo_pago.url }}" {% else %} data-fancybox
                                                       data-type="iframe"
                                                       href="{{ compra.archivo_pago.url }}" {% endif %} class="btn btn-primary btn-mini">
                                                        <i class="far fa-window-restore"></i> See Voucher
                                                    </a>
                                                {% endwith %}
                                                o
                                                <a class="btn btn-danger btn-mini"
                                                   href="{{ compra.archivo_pago.url }}" target="_blank">
                                                    <i class="fas fa-download"></i> Download
                                                </a>
                                            </div>
                                        {% else %}
                                            <div><strong>{{ compra.comprobante|default_if_none:"" }}</strong></div>
                                        {% endif %}
                                    </div>
                                    <div class="invoice-detail">
                                        {{ compra.estado_pedido }}
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-content">
                                <div class="table-responsive d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
                                    <table class="table table-invoice">
                                        <thead>
                                        <tr>
                                            <th>DESCRIPTION</th>
                                            <th class="text-center" width="10%">PRICE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in detallepedido %}
                                            <tr>
                                                <td>
                                                    <span class="text-inverse">{{ l.item.nombre }}</span>
                                                </td>
                                                <td style="vertical-align : middle" class="text-center">
                                                    {{ SIMBOLO_MONEDA }}{{ l.precio|intcomma }}
                                                </td>
                                            </tr>
                                            {% for d in l.detalle %}
                                                <tr>
                                                    <td>
                                                        <span class="text-inverse">{{ d.items_adicionales.nombre }}</span>
                                                    </td>
                                                    <td style="vertical-align : middle" class="text-center">
                                                        {{ SIMBOLO_MONEDA }}{{ d.total|intcomma }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>DETAIL</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in detallepedido %}
                                            <tr>
                                                <td>
                                                    <div class="mb-2">
                                                        <div class="text-break">
                                                            {{ l.item.nombre }}
                                                        </div>
                                                        <div class="text-right">
                                                            <strong class="product-quantity">
                                                                {{ l.cantidad }} ×
                                                                {{ SIMBOLO_MONEDA }}{{ l.precio|intcomma }}
                                                            </strong>
                                                        </div>
                                                        <div class="text-right">
                                                            <strong class="product-quantity">
                                                                Total: {{ SIMBOLO_MONEDA }}{{ l.total|intcomma }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% for d in l.detalle %}
                                                <tr>
                                                    <td>
                                                        <div class="mb-2">
                                                            <div class="text-break">
                                                                {{ d.items_adicionales.nombre }}
                                                            </div>
                                                            <div class="text-right">
                                                                <strong class="product-quantity">
                                                                    Total: {{ SIMBOLO_MONEDA }}{{ d.total|intcomma }}
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="invoice-price">
                                    <div class="invoice-price-left">
                                        <div class="invoice-price-row">
                                            <div class="sub-price">
                                                <small>SUBTOTAL</small>
                                                <span class="text-inverse">{{ SIMBOLO_MONEDA }}{{ compra.subtotal|intcomma }}</span>
                                            </div>
                                            {% if compra.impuestos_ubicacion > 0 %}
                                                <div class="sub-price">
                                                    <i class="fa fa-plus text-muted"></i>
                                                </div>
                                                <div class="sub-price">
                                                    <small>
                                                        Tax for distance
                                                    </small>
                                                    <span class="text-inverse">{{ SIMBOLO_MONEDA }}{{ compra.impuestos_ubicacion|intcomma }}</span>
                                                </div>
                                            {% endif %}
                                            {% if compra.impuestos > 0 %}
                                                <div class="sub-price">
                                                    <i class="fa fa-plus text-muted"></i>
                                                </div>
                                                <div class="sub-price">
                                                    <small>
                                                        {{ compra.get_metodo_pago_display }} Taxes
                                                    </small>
                                                    <span class="text-inverse">{{ SIMBOLO_MONEDA }}{{ compra.impuestos|intcomma }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="invoice-price-right">
                                        <small>TOTAL</small> <span
                                            class="f-w-600">{{ SIMBOLO_MONEDA }}{{ compra.total|intcomma }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">

                    <span>
                        <h3><i class="fa-solid fa-edit"></i> Change</h3>
                    </span>
                    <hr>
                    {% with fechas_adicionales=detalle.fechas_adicionales %}
                        <form class="mt-2" method="post" action="{{ ruta }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ pk }}"/>
                            <input type="hidden" name="action" value="{{ action }}"/>
                            <input type="hidden" name="detail_date" value="{{ detail_date }}"/>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label><b>Select Pilot:</b></label>
                                    <select class="select2" data-width="100%" required name="pilot">
                                        <option value="">-----------------</option>
                                        {% for l in pilots %}
                                            <option value="{{ l.id }}" {% if compra.pilot_turn.pilot.id == l.id %}selected{% endif %}>
                                                {{ l.username }} - {{ l }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label><b>Working Time:</b></label>
                                    <div class="border border-round p-5">
                                        {{ compra.get_time_str }}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label><b>Select Date:</b></label>
                                    <select class="form-control" required name="work_day">
                                        <option value="">-----------------</option>
                                        {% for l in work_days %}
                                            <option value="{{ l.id }}" {% if compra.pilot_turn.id == l.id %}selected{% endif %}>
                                                {{ l.date|date:'l d/M/Y' }} ({{ l.configuration.time_start }} - {{ l.configuration.time_end }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if fechas_adicionales %}
                                    <div id="fechas_adicionales_fieldset" class="col-md-12 mb-3">
                                        <label><b>Adittional Dates:</b></label>
                                        <h5>
                                            {% for f in fechas_adicionales %}
                                                <span class="badge badge-warning text-dark mr-1">
                                                    <b>{{ f.festimada|date:'l d/M/Y' }}</b>
                                                </span>
                                            {% endfor %}
                                        </h5>
                                    </div>
                                {% endif %}
                                <div class="col-md-12">
                                    <label><b>Distance</b></label>
                                    <div id="map" style="width: 100%; height: 250px;"></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="form-group">
                                        <a href="{{ request.path }}" class="btn btn-danger">
                                            <i class="fas fa-times"></i>&nbsp;Cancel
                                        </a>
                                        <button type="submit" id="submit" class="btn btn-success">
                                            <i class="fa-solid fa-save"></i>&nbsp;Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js?v=11"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GMAP_API_KEY }}&libraries=places&callback=initMap"></script>
    <script>

        let posA = {lat: parseFloat('{{ compra.pilot_turn.pilot.latitud|unlocalize }}'), lng: parseFloat('{{ compra.pilot_turn.pilot.longitud|unlocalize }}')};
        let posB = {lat: parseFloat('{{ compra.latitud|unlocalize }}'), lng: parseFloat('{{ compra.longitud|unlocalize }}')};
        console.log(posA)
        console.log(posB)

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: posA,
                zoom: 10,
            });

            // Agrega marcadores en las posiciones A y B
            new google.maps.Marker({position: posA, map: map});
            new google.maps.Marker({position: posB, map: map});

            // Dibuja la ruta entre las posiciones A y B
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            const request = {
                origin: posA,
                destination: posB,
                travelMode: google.maps.TravelMode.DRIVING,
            };

            directionsService.route(request, (result, status) => {
                if (status === "OK") {
                    directionsRenderer.setDirections(result);
                } else if (status === "ZERO_RESULTS") {
                    console.log("No routes were found between the selected locations.");
                } else {
                    console.log("Error calculating route: " + status);
                }
            });


            const millas = {{ limite_envio }};
            const metrosPorMilla = 1609.34;
            // Dibuja un círculo de 2 millas alrededor de la posición A
            const circle = new google.maps.Circle({
                center: posA,
                radius: millas * metrosPorMilla, // 2 millas en metros
                map: map,
                fillColor: "#rgba(0, 0, 255, 0.1)",
                strokeColor: "#0000ff",
                strokeOpacity: 0.2,
                strokeWeight: 2,
            });
        }

        $(function () {
            initMap();

            const fechas_adicionales_fieldset = $('#fechas_adicionales_fieldset');

            $('select[name=pilot]').change(async function (e) {
                const val = $(this).val();
                $('select[name=work_day]').html('<option value="">-----------------</option>');
                if (val) {
                    const data = await jsonGetRequest('', {'action': 'pilot_change', 'pilot_id': val, 'detail_date': $('input[name=detail_date]').val()});
                    if (data.result) {
                        data.work_days.forEach(wd => {
                            $('select[name=work_day]').append(`
                                <option value="${wd.id}" ${wd.selected ? 'selected' : ''}>${wd.text}</option>
                            `);
                        });
                        posA = {lat: data.latitud, lng: data.longitud};
                        initMap();
                    }
                }
            });


            $('select[name=work_day]').change(async function (e) {
                const val = $(this).val();
                fechas_adicionales_fieldset.hide();
                fechas_adicionales_fieldset.find('h5').html('');
                if (val) {
                    const data = await jsonGetRequest('',
                        {
                            'action': 'work_day_change', 'work_day_id': val,
                            'detail_date': $('input[name=detail_date]').val()
                        }
                    );
                    $(this).val(data.work_day_selected);
                    fechas_adicionales_fieldset.find('h5').html(
                        data.fechas_adicionales.map(f => `
                                <span class="badge badge-warning text-dark mr-1">
                                    <b>${f.date_view}</b>
                                </span>
                            `).join('')
                    );
                    $('input[name=detail_date]').val(data.detail_date);
                    if (data.sin_dias_disponibles) {
                        Swal.fire('Notice', 'No available days', 'error');
                        $(this).trigger("change");
                    }
                }
                fechas_adicionales_fieldset.show();
            });

        });
    </script>
{% endblock %}