<div class="row">
    <input type="hidden" value="{{ id }}" name="pk">
    <input type="hidden" name="action" value="{{ action }}"/>
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="col-lg-{{ field.field.widget.attrs.col }} fieldset_{{ field.name }}">
                <div class="form-group">
                    <label class="form-label" for="id_{{ field.name }}">{{ field.label }}:</label><br>
                    {{ field }}
                    <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="ln_solid"></div>

<div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 text-right">
        <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i
                class="fa fa-window-close"></i>
            Cancelar</a>
        <button type="submit"
                class="btn btn-success">
            <i class="fa fa-save"></i> Guardar
        </button>
    </div>
</div>

{{ form.media }}
<script>

    $(function () {
        $.fn.select2.defaults.set('language', 'es');
        $('.select2-simple').select2({
            width: '100%'
        });
        $('.jselect2').select2();
    });
</script>
<script>
    $(document).ready(function () {
        // Función para mostrar/ocultar y requerir/no requerir los campos
        function ajustarCampos(estado) {
            if (estado === "ENTREGADO") {
                $('#id_fecha_entrega').prop('required', true).show();
                $('#id_detalle_entrega').prop('required', true).show();
                $('#id_archivo_entrega').prop('required', true).show();
                $('.fieldset_fecha_entrega').show();
                $('.fieldset_detalle_entrega').show();
                $('.fieldset_archivo_entrega').show();
            } else if (estado === "DEVUELTO") {
                $('#id_fecha_entrega').prop('required', true).show();
                $('#id_detalle_entrega').prop('required', true).show();
                $('#id_archivo_entrega').prop('required', true).show();
                $('.fieldset_fecha_entrega').show();
                $('.fieldset_detalle_entrega').show();
                $('.fieldset_archivo_entrega').show();
            } else {
                $('#id_fecha_entrega').prop('required', false).hide();
                $('#id_detalle_entrega').prop('required', false).hide();
                $('#id_archivo_entrega').prop('required', false).hide();
                $('.fieldset_fecha_entrega').hide();
                $('.fieldset_detalle_entrega').hide();
                $('.fieldset_archivo_entrega').hide();
            }
        }

        // Escucha los cambios en el campo de selección de estado
        $('#id_estado_entrega').change(function () {
            var estadoSeleccionado = $(this).val();
            ajustarCampos(estadoSeleccionado);
        });

        // Llama a ajustarCampos al cargar la página en caso de que el estado ya esté seleccionado
        var estadoInicial = $('#id_estado_entrega').val();
        ajustarCampos(estadoInicial);
    });
</script>
