{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}
{% load templatefunctions %}
{% block content %}
    <form method="GET">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-2 col-sm-12">
                    <input type="date" class="form-control" name="fecha_desde" id="id_fecha_desde" title="Date From"
                           value="{{ fecha_desde }}">
                </div>
                <div class="col-md-2 col-sm-12">
                    <input type="date" class="form-control" name="fecha_hasta" id="id_fecha_hasta" title="Date To"
                           value="{{ fecha_hasta }}">
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                        <select name="metodopago" id="id_metodopago" class="form-control select2"
                                data-placeholder="Filter by Metodo de Pago">
                            <option value="">All</option>
                            {% for l in METODO_PAGOS %}
                                <option value="{{ l.0 }}"
                                        {% if l.0 == metodopago %}selected{% endif %}>{{ l.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                        <select name="estado" id="id_estado" class="form-control select2"
                                data-placeholder="Filter by State">
                            <option value="">All</option>
                            {% for l in ESTADO_PEDIDO %}
                                <option value="{{ l.0 }}" {% if l.0 == estado %}selected{% endif %}>{{ l.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="To find" aria-label="To find"
                               aria-describedby="button-addon2" name="criterio" value="{{ criterio }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ ruta }}?{{ dict_url_vars }}" class="btn btn-primary">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-default">


        <div class="panel-body">
            <label class="label label-primary" style="font-size: 13px">Cant. {{ list_count }}</label>
            <label class="label label-warning tr" title="Total Recaudado" style="font-size: 13px">Total.
                ${{ totalrecaudado }}</label>
            <label class="label label-danger tr" title="Total Devuelto" style="font-size: 13px">Total.
                ${{ totalreversado }}</label>
            <label class="label label-success tr" title="Total Valido" style="font-size: 13px">Total.
                ${{ totalvalido }}</label>
            <table id="tabla" class="table table-hover table-td-valign-middle table-bordered">
                <thead>
                <tr>
                    <th class="text-center">
                        Detalle
                    </th>
                    <th class="text-center">
                        F. Creación
                    </th>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Comprobante
                    </th>
                    <th class="text-center">
                        Total
                    </th>
                    <th class="text-center">
                        Detalle de Entrega
                    </th>
                    <th class="text-center">
                        Estado
                    </th>
                    <th class="text-center">
                        Acción
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for l in listado %}
                    <tr>
                        <td class="text-left">
                            <div>
                                <b>Cod.</b> {{ l.id }}
                            </div>
                            <div>
                                {% if l.modo_pago %}
                                    <span class="text-primary">Producción</span>
                                {% else %}
                                    <span class="text-warning">Prueba</span>
                                {% endif %}
                            </div>
                            {#                            <div>#}
                            {#                                <b>Driving Time: </b> {{ l.tiempo_de_viaje_str }}#}
                            {#                            </div>#}
                        </td>
                        <td class="text-center">
                            {{ l.fecha_registro|date:'d/M/Y' }}<br>
                            {{ l.fecha_registro|date:'H:i' }}
                        </td>
                        <td class="text-left">
                            <i class="fa fa-user"></i> {{ l.user.get_full_name }} <br>
                            <i class="fa fa-phone"></i> {{ l.user.telefono_formateado }}
                            <br>
                            <i class="fa fa-envelope"></i> <strong><a
                                href="mailto:{{ l.user.email|default:'' }}">{{ l.user.email|default:'' }}</a></strong>
                            {% if l.user.ciudad %}<br>
                                <i class="fa fa-map-marked"></i> {{ l.user.ciudad.nombre }},
                                {{ l.user.ciudad.provincia.nombre }},
                                {{ l.user.ciudad.provincia.pais.nombre }}
                            {% endif %}
                        </td>
                        <td style="width: 15%; text-align: center">
                            {{ l.get_icon }} {{ l.get_metodo_pago_display }}
                            {% if l.pago_reversado %}<br>
                                <span class="text-danger">
                                    <i class="fa-solid fa-money-bill-transfer"></i> Reverse payment <br> {{ l.fecha_reversado|date:'d/M/Y H:i' }}
                                </span>
                            {% endif %}
                            <hr>
                            {% if l.entidad_fin %}
                                <i class="fa fa-piggy-bank"></i> {{ l.entidad_fin }}
                            {% else %}
                                {{ l.comprobante|default:'---' }}
                            {% endif %}
                        </td>
                        <td class="text-center" style="width: 10%">
                            <b>$ {{ l.total|intcomma }}</b>
                        </td>
                        <td class="text-left">
                            {{ l.estado_entrega_ }}<br>
                            {% if l.couriers %}
                                <i class="fa fa-user"></i> {{ l.couriers.nombre }} <br>
                                <i class="fa fa-phone"></i><a href="javascript:void(0)"
                                                              onclick="msgCurier{{ l.id }}('{{ l.couriers.telefono }}', '{{ l.couriers.nombre }}', '{{ l.latitud|unlocalize }}', '{{ l.longitud|unlocalize }}')"> {{ l.couriers.telefono }}</a>
                                <br>
                                <i class="fa fa-envelope"></i><strong><a
                                    href="mailto:{{ l.couriers.email|default:'' }}"> {{ l.couriers.email|default:'' }}</a></strong>
                                <br>
                            {% else %}
                                <a href="javascript:void(0)"
                                   onclick="verModalHistorial('addcouriers', '{{ l.pk }}', 'fas fa-motorcycle', '{{ request.path }}', true)"
                                   class="btn btn-primary btn-mini"><i
                                        class="fa fa-motorcycle"></i> Asignar Courier</a><br>
                            {% endif %}
                            <i class="fa fa-map-marked"></i> {{ l.direccion }} <br>
                            <i class="fa-regular fa-calendar"></i> F. Entrega: {{ l.festimada }}<br>
                            <i class="fa-regular fa-clock"></i> {{ l.tiempo_de_viaje_str }} Tiempo estimado de
                            entrega<br>
                            <a target="_blank"
                               href="https://www.google.com/maps/search/?api=1&query={{ l.latitud|unlocalize }},{{ l.longitud|unlocalize }}"><i
                                    class="fa-solid fa-map-location-dot"></i> Ver GMaps</a><br>

                        </td>
                        <td class="text-center">
                            {{ l.estado_pedido }}
                        </td>
                        <td class="with-btn-group text-center" nowrap>
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-white btn-sm width-100 dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-angle-left mr-1"></i> Acción
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if can_view %}
                                        {#                                        <a class="dropdown-item"#}
                                        {#                                           href="{{ ruta }}?pk={{ l.pk }}&action=detalle&{{ dict_url_vars }}">#}
                                        {#                                            <i class="fas fa-eye"></i> Detalle#}
                                        {#                                        </a>#}
                                        {% if l.estado == 'EN_ESPERA' %}
                                            <a class="dropdown-item"
                                               href="{{ ruta }}?pk={{ l.pk }}&action=pago_pendiente&{{ dict_url_vars }}">
                                                <i class="fas fa-check-double"></i> Validar Pago
                                            </a>
                                        {% endif %}
                                        {% if not l.estado_entrega == 'ENTREGADO' %}
                                            <a class="dropdown-item"
                                               onclick="verModalHistorial('changeestadoenvio', '{{ l.pk }}', 'fas fa-motorcycle', '{{ request.path }}', true)"
                                               href="javascript:;">
                                                <i class="fas fa-vote-yea"></i> Marcar como entregado
                                            </a>
                                        {% endif %}
                                        <a onclick="verModalHistorial('historial_orden', '{{ l.pk|get_encrypt }}', 'fas fa-history')"
                                           class="dropdown-item"
                                           href="javascript:;">
                                            <i class="fas fa-history"></i> Ver Detalle de Orden
                                        </a>
                                        <a data-toggle="modal" data-target="#modalMetodoPago{{ l.id }}"
                                           class="dropdown-item"
                                           href="javascript:;">
                                            {{ l.get_icon }} Ver Detalle de Pago
                                        </a>
                                        <a onclick="verModalHistorial('historial_pedido', '{{ l.pk|get_encrypt }}', 'fas fa-history')"
                                           class="dropdown-item"
                                           href="javascript:;">
                                            <i class="fas fa-history"></i> Historial
                                        </a>
                                        {% if not l.estado == 'ERROR_METODO_PAGO' %}
                                            {% if can_change and l.estado != 'ANULADO' %}
                                                <a class="dropdown-item text-danger" title="Anular"
                                                   href="?pk={{ l.pk|get_encrypt }}&action=anular_pedido">
                                                    <i class="fas fa-times-circle"></i> Anular
                                                </a>
                                            {% endif %}
                                            {% if request.user.is_superuser and l.es_pago_electronico and not l.pago_reversado %}
                                                <a class="dropdown-item text-warning" title="Reversar pago"
                                                   href="?pk={{ l.pk|get_encrypt }}&pago_id={{ l.id|get_encrypt }}&action=reversar_pago">
                                                    <i class="fa-solid fa-money-bill-transfer"></i> Reversar Pago
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if can_change and l.pagado and not l.trabajo_completado %}
                                            <a class="dropdown-item text-success"
                                               href="{{ ruta }}?pk={{ l.pk }}&action=mark_as_completed&{{ dict_url_vars }}">
                                                <i class="fa-solid fa-plane-circle-check"></i> Marcar como Completado
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "paginacion.html" %}

        </div>
    </div>

    <div class="modal fade" id="modalDetalle">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ ruta }}"
                      class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title"><b id="modalNombre"></b></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body detalleProd">
                    </div>
                    <div class="modal-footer" id="footerModalView">
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                class="fa fa-window-close"></i>
                            Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="ModalAdd" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="label"><i id="icono" class="fas fa-eye"></i> <strong
                            id="accion"></strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ ruta }}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="tablaaqui">

                        </div>
                    </form>
                </div>
                <div class="modal-footer footerModal">
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                            class="fa fa-window-close"></i>
                        Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    {% for l in listado %}
        {% with resp_metodo_pago=l.get_resp_metodo_pago %}
            {#            {% if resp_metodo_pago %}#}
            <div class="modal fade bd-example-modal-lg detallePagoModal"
                 id="modalMetodoPago{{ l.id }}"
                 tabindex="-1"
                 role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {{ l.get_icon }} Pago
                                por {{ l.get_metodo_pago_display }} of the order
                                #{{ l.pk }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                                                    <span aria-hidden="true"><i
                                                                            class="fas fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    {#                                        <tr>#}
                                    {#                                            <th class="text-left">IP</th>#}
                                    {#                                            <td class="text-left">{{ l.session_user.ip }}</td>#}
                                    {#                                        </tr>#}
                                    {#                                        <tr>#}
                                    {#                                            <th class="text-left">Dispositivo</th>#}
                                    {#                                            <td class="text-left">{{ l.session_user.dispositivo }}</td>#}
                                    {#                                        </tr>#}
                                    {#                                        <tr>#}
                                    {#                                            <th class="text-left">Localidad</th>#}
                                    {#                                            <td class="text-left">{{ l.session_user.areageografica }}</td>#}
                                    {#                                        </tr>#}
                                    {% for r in l.get_resp_metodo_pago %}
                                        <tr>
                                            <th class="text-left">{{ r.nombre }}</th>
                                            <td class="text-left">{{ r.valor }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                    class="fa fa-window-close"></i>
                                Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
        {% endwith %}
    {% endfor %}

    <link rel="stylesheet" href="/static/lightbox/css/lightbox.min.css">
    <script src="/static/lightbox/js/lightbox-plus-jquery.min.js"></script>
{% endblock %}

{% block jscript %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GMAP_API_KEY }}&libraries=places"></script>
    <script src="/static/js/forms.js?v=11"></script>
    <script>

        function formModal(id, text, action, footer = false) {
            pantallaespera()
            $('#footerModalView').hide();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.result === true) {
                        if (footer) {
                            $('#footerModalView').show();
                        }
                        $('#modalNombre').html(text);
                        $('.detalleProd').html(data.data);
                        $('#modalDetalle').modal({backdrop: 'static'}).modal('show');
                    } else {
                        mensajeWarning(data.message);
                    }
                },
                error: function () {
                    setTimeout($.unblockUI, 1);
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }

        {% for l in listado %}
            function msgCurier{{ l.id }}(telf, nombre, lat, long) {
                var lista = [];
                lista.push("*CANT* - *NOMBRE*")
                {% for xl in l.get_detalle %}
                    lista.push('{{ xl.cantidad|stringformat:"i" }}' + " - " + '{{ xl.item.nombre|safe }}');
                {% endfor %}
                var ruta = 'https://www.google.com/maps/search/' + lat.toString() + ',' + long.toString()
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    let url = `https://api.whatsapp.com/send?phone=+593${telf}&text=*CLIENTE:* {{ xl.user.get_full_name }}%0A${ruta.toString()}%0A*REFERENCIA*: {{ xl.direccion }}%0A*PEDIDO A ENTREGAR*%0A${lista.join("%0A")}`;
                    window.open(url);
                } else {
                    let url = `https://web.whatsapp.com/send?l=en&phone=+593${telf}&text=*CLIENTE:* {{ xl.user.get_full_name }}%0A${ruta.toString()}%0A*REFERENCIA*: {{ xl.direccion }}%0A*PEDIDO A ENTREGAR*%0A${lista.join("%0A")}`;
                    window.open(url);
                }
            }
        {% endfor %}


    </script>
    <script src="/static/fancybox/js/core.js"></script>
    <script>

        const ModalAdd = $('#ModalAdd');

        function verModalHistorial(action, id, icon, ruta = null, footer = false) {
            $('.footerModal').show()
            $.ajax({
                type: "GET",
                url: ruta ? ruta : "{{ ruta }}",
                data: {'action': action, 'pk': id},
                success: function (data) {
                    if (data.result === true) {
                        $('#icono').attr('class', icon);
                        $('#accion').text(data.titulo);
                        $('.tablaaqui').html(data.data);
                        if (footer) {
                            $('.footerModal').hide()
                        }
                        ModalAdd.modal({backdrop: 'static'}).modal('show');
                    } else {
                        mensajeDanger(data.mensaje);
                    }
                },
                error: () => mensajeDanger("Error de conexion."),
                dataType: "json"
            });
        }

        ModalAdd.on('hidden.bs.modal', function (e) {
            $('.tablaaqui').html('');
        })
    </script>
{% endblock %}