{% extends 'sitio/base.html' %}
{% block link %}{% endblock %}
{% block content %}
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Recuperar nombre de usuario</h3>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li>Formulario de Recuperación</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center position-relative mt-50" style="margin-top: 50px; padding: 25px">
        <div class="mt-auto" style="max-width: 700px">
            <h1 class="pt-3 pb-2 pb-lg-3">¿Olvidaste tu nombre de usuario?</h1>
            <p class="pb-2">Ingrese su dirección de correo electrónico para obtener su nombre de usuario.</p>
            <div class="card dark-mode border-0 well">
                <form method="post" class="card-body" id="frm-restaurar"
                      style="padding: 22px 25px !important;">{% csrf_token %}
                    <div class="mb-4">
                        <div class="position-relative"><i
                                class="ai-key fs-lg position-absolute top-50 start-0 translate-middle-y text-black opacity-80 ms-3"></i>
                            <input class="form-control form-control-lg input-record" type="email"
                                   style="background-color: #ffffff;   color: black;"
                                   placeholder="Correo electronico" name="email" id="recoverEmail" required>
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="btn flosun-button secondary-btn theme-color rounded-0">
                            <i class="fa fa-sync"></i>&nbsp; Recuperar nombre de usuario
                        </button>
                    </center>
                </form>
            </div>
            <div class="mt-4">
            </div>
        </div>
    </div>
    <br><br><br>

{% endblock %}
{% block jscript %}
    <script>
        $('#frm-restaurar').on({
            submit: function (e) {
                e.preventDefault();
                var frmData = new FormData($(this)[0]);
                $.ajax({
                    url: '{{ request.path }}',
                    data: frmData,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        pantallaespera()
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.resp === true) {
                        location = "/login/";
                        return false;
                    } else {
                        mensajeDanger(data.error);
                    }
                }).fail(function () {
                    setTimeout($.unblockUI, 1);
                    mensajeDanger('Error de conexión.')
                });
            }
        });
    </script>
{% endblock %}