{% load templatefunctions %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>{{ titulo }} | {{ nombreempresa }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="description" content="ISP">
    <meta name="theme-color" content="#2874A6">
    <meta name="keywords" content="{{ nombreempresa }}">
    <link href="{{ favicon }}" rel="shortcut icon"/>
    <link href="/static/fonts/family-roboto/family-roboto.css" rel="stylesheet"/>
    <link href="/static/fonts/material-icons/material-icons.css" rel="stylesheet"/>
    {#    <link href="/static/assets/css/google/app.min.css" rel="stylesheet"/>#}
    <link href="/static/assets/css/default/app.min.old.css?18.18" rel="stylesheet"/>
    <link href="/static/fonts/fontawesome/css/all.css?v=6.1.1" rel="stylesheet"/>
    <link href="/static/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"/>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <meta name="vapid-key" content="{{ vapid_key }}">
    <meta name="islogged" content="{{ request.user.is_authenticated }}">
    {#    <link rel="stylesheet" href="/static/tienda/css/font-electro.css">#}
    {% block head %}{% endblock %}
    <script>
        {% if activar_cambio_clave %}
            window.location.href = "/changepass/";
        {% endif %}
    </script>
</head>
<style>
    /* Blocks Mobile Screen Size buttons
       .btn-xs-block
       .btn-sm-block
       .btn-md-block
       .btn-lg-block
    */
    .select2-container .select2-selection--multiple .select2-selection__choice {
        max-width: 100%;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
    }

    .fancybox__content {
        height: 100% !important;
    }

    .goog-te-banner-frame, #goog-gt-tt {
        display: none !important;
        height: 0 !important;
        visibility: hidden !important;
    }

    @media (max-width: 767px) {
        .btn-xs-block {
            display: block;
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .btn-sm-block {
            display: block;
            width: 100%;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .btn-md-block {
            display: block;
            width: 100%;
        }
    }

    @media (min-width: 1200px) {
        .btn-lg-block {
            display: block;
            width: 100%;
        }
    }

    .avatar-offline {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .btn-mini {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10.5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px
    }

    .demo-preview {
        padding-top: 60px;
        padding-bottom: 10px;
        width: 300px;
        margin: auto;
        text-align: center;

    }

    .demo-preview .label {
        margin-right: 10px;
        margin-bottom: 10px
    }


</style>
<body>

<div id="page-container"
     class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar page-with-light-sidebar  captura_pantalla">

    <div id="header" class="header navbar-default">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <i class="fa fa-book text-primary"></i>&nbsp;<b class="mr-1">{{ confi.alias }}</b>
            </a>
            <div style="width:100%;" class="text-right">
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if can_mostrar_reportes %}
                    <button type="button" class="navbar-toggle" data-click="right-sidebar-toggled">
                        <i class="fas fa-chart-pie fa-2x"></i>
                    </button>
                {% endif %}
            </div>
        </div>

        <ul id="navbarPanel" class="navbar-nav d-flex flex-grow-1">
            <li class="navbar-form flex-grow-1">
                <form action="" method="POST" name="search">
                    <div class="form-group">
                        {% if request.user.is_authenticated %}
                            <input type="search" class="form-control" id="searchGroups" placeholder='Buscar Modulo'/>
                        {% endif %}
                    </div>
                </form>
            </li>
            {% if request.user.is_superuser %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="contenedorOnlineClick">
                        <i class="fa fa-users"></i>
                    </a>
                    <div class="dropdown-menu media-list dropdown-menu-right">
                        <div class="dropdown-header">Lista de Conexión de Usuarios <i class="fa fa-plug"></i></div>
                        <div class="height-md" data-scrollbar="true">
                            <div id="contenedorOnline"></div>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="dropdown navbar-user">
                    <a style="position: relative;" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ request.user.get_foto }}" width="100%">
                        <div class="d-none d-md-inline">{{ request.user.username }}</div>
                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if sesion_anterior %}
                            <a href="/seguridad/regresar-sesion/" class="dropdown-item"><i
                                    class="fas fa-sign-in-alt"></i>
                                Regresar a mi sesión</a>
                        {% endif %}
                        <a href="/perfilpanel/" class="dropdown-item"><i class="fa fa-user"></i> Perfil</a>
                        {% if request.user.is_superuser == True %}
                            <a href="/admin" target="_blank" class="dropdown-item"><i class="fa fa-lock"></i>
                                Administración</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout_url' %}" class="dropdown-item"><i class="fa fa-sign-out-alt"></i> Cerrar
                            Sesión</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>

    <div id="sidebar" class="sidebar">
        <div data-scrollbar="true" data-height="100%">
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div style="background: url({{ fondo_perfil }});background-color:white;background-size: contain;background-repeat: no-repeat; width: 100%"
                             class="cover with-shadow"></div>
                        <div class="info">
                            <b class="caret pull-right"></b>{{ request.user.nombre_corto }}
                            <small>{{ gruposUserLogueado }}</small>
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><a href="/perfilpanel/"><i class="fa fa-cog"></i> Perfil</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav groups">
                <li class="nav-header">Menu</li>
                <li>
                    <a href="/panel/">
                        <i class="fa fa-home"></i>
                        <span>Panel</span>
                    </a>
                </li>
                {% for grupo in grupos %}
                    <li class="has-sub {% if grupo.nombre == group %}active{% endif %}">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="{{ grupo.icono }}"></i>
                            <span>{{ grupo.nombre }}</span>
                        </a>
                        <ul class="sub-menu">
                            {% for modulo in grupo.modulos_activos %}
                                {% if modulo.id in modulos_id %}
                                    <li {% if ruta_val|startswith:modulo.url %} class="active" {% endif %}>
                                        <a href="{{ modulo.url }}?{{ dict_url_vars_completo }}">{{ modulo.nombre }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="sidebar-bg"></div>

    <div id="content" class="content">

        <div class="table-responsive">
            <ol class="breadcrumb float-xl-right" style="font-weight: bold;white-space: nowrap;">
                {% for rt in ruta_lista %}
                    <li class="breadcrumb-item"><a href="{{ rt.0 }}">{{ rt.1 }}</a></li>
                {% endfor %}
                {% if not request.path == '/panel/' %}
                    <li href="javascript:void(0)" class="breadcrumb-item active">
                        <a href="{% block atras %}{% if request.path == '/panel/' %}/


                            {% else %}{% if not tiene_val_get %}/panel/{% else %}{{ request.path }}{% endif %}{% endif %}{% endblock %}"
                           class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Atras</a>
                    </li>
                {% endif %}
            </ol>
        </div>

        <div class="table-responsive">
            <h5 title="{{ titulo }}" style="white-space: nowrap;" class="page-header">{{ titulo }}</h5>
        </div>


        {% block content %}

        {% endblock %}

    </div>

    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>

</div>
<div class="modal fade bd-example-modal-lg" id="modalPost" tabindex="-1" role="dialog"
     aria-labelledby="modalPost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="label"><i class="fas fa-eye icono"></i> <strong
                        class="accion"></strong></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="excluirFormAjax" action="{{ ruta }}" method="POST"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="tablaaqui">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalGet" tabindex="-1" role="dialog"
     aria-labelledby="modalGet" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="label"><i class="fas fa-eye icono"></i> <strong
                        class="accion"></strong></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ ruta }}" method="GET" enctype="multipart/form-data">{% csrf_token %}
                    <div class="tablaaqui">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalPostAjax" tabindex="-1" role="dialog"
     aria-labelledby="modalPostAjax" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="label"><i class="fas fa-eye icono"></i> <strong
                        class="accion"></strong></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ ruta }}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="tablaaqui">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmEliminar" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" id="id_dict_url_vars" name="dict_url_vars" value="">
                <div class="modal-header">
                    <h4 class="modal-title">¿Seguro desea eliminar este registro?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger m-b-0">
                        <h5><i class="fa fa-info-circle"></i> Atención!</h5>
                        <p>Estas a punto de eliminar este registro '<b id="elimNombre"></b>'</p>
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="action" id="action">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i class="fa fa-window-close"></i>
                        Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEliminarConComentario">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmEliminarConComentario" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" id="id_dict_url_vars" name="dict_url_vars" value="">
                <div class="modal-header">
                    <h4 class="modal-title">¿Seguro desea anular este registro?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger m-b-0">
                        <h5><i class="fa fa-info-circle"></i> Atención!</h5>
                        <p>Estas a punto de anular este registro '<b id="elimNombre"></b>'</p>
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="action" id="action">
                        <textarea name="razon" class="form-control" required
                                  placeholder="Ingrese razón de anulación"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><i class="far fa-calendar-times"></i> Anular</button>
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i class="fa fa-window-close"></i>
                        Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalEmailLoad" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <img width="300" class="img-responsive"
                         src="/media/loadmail.gif"/>
                    <strong>
                        <h2 id="codigo" style="color: #2C3E50;">

                        </h2>
                    </strong>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConsulta">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmConsulta" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title"><b id="nombre"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fas fa-times"></i></button>
                </div>
                <div class="modal-body tablaaqui">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="ModalInfo" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="label"><i id="icono" class="fas fa-eye"></i>
                    <strong> Info. del dispositivo</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>
                                Navegador:
                            </th>
                            <td>
                                {{ infodispositivo }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Browser ID:
                            </th>
                            <td>
                                {{ browserid }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade static" id="waitpanel" style="display: none;">
    <div class="modal-header">
        <h4 id="waitpaneltitle"></h4>
    </div>
    <div class="modal-body">
        <p id="waitpanelbody"></p>
    </div>
</div>

<script src="/static/assets/js/app.min.js?v=1.0"></script>
<script src="/static/assets/js/demo/dashboard.js?v=1.0"></script>
{#<script src="/static/assets/js/theme/google.min.js"></script>#}
<script src="/static/assets/js/theme/default.min.js"></script>
<script src="/static/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/static/assets/plugins/flot/jquery.flot.js"></script>
<script src="/static/assets/plugins/flot/jquery.flot.time.js"></script>
<script src="/static/assets/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/assets/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>


<!-- Datatable -->
<link rel="stylesheet" href="/static/datatables/datatables.css">
<script src="/static/datatables/datatables.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap.min.css"/>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css"/>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>

<!-- TempusDominus -->
<link href="/static/lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
<script src="/static/lib/moment-2.25.3/moment-with-locales.js"></script>
<script src="/static/lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js"></script>
<!-- SweetAlert -->
<link rel="stylesheet" href="/static/sweetalert2/sweetalert2.css">
<script src="/static/sweetalert2/sweetalert2.js"></script>
<!-- BlockUi -->
<script src="/static/jquery.blockUI.js"></script>
<!-- Select2 -->
<link href="/static/select2/select2.min.css" rel="stylesheet">
<script src="/static/select2/select2.min.js"></script>
<script src="/static/select2/i18n/es.js"></script>
<!-- Dropify -->
<link rel="stylesheet" href="/static/dropify/css/dropify.min.css">
<script src="/static/dropify/js/dropify.min.js"></script>

<script src="/static/js/base-admin.js?v=2"></script>
<script src="/static/validaciones/funciones.js?v=2.2"></script>
<script src="/static/js/dfp.min.js"></script>
<script>
    function redondear(numero, decimales = 0) {
        var s = parseInt("1" + "0".repeat(decimales));
        return Math.round(numero * s) / s;
    }
</script>
<link rel="stylesheet" href="/static/snackbar/dist/snackbar.min.css">
<script src="/static/snackbar/dist/snackbar.min.js"></script>
<script>
    function copiarTextoPortapapeles(texto, mensaje = "¡Copiado al portapapeles!") {
        navigator.clipboard.writeText(texto).then(function () {
            Snackbar.show({text: `<b>${texto}</b> ${mensaje}`, pos: 'top-center', showAction: false});
        }, function (err) {

        });
    }
</script>
<script>
    {#// Devuelve una función que, mientras continúe invocándose, no#}
    {#// se activará. La función se llamará después de que deje de llamarse durante#}
    {#// N milisegundos. Si se pasa `inmediato`, active la función en el#}
    {#// borde anterior, en lugar del final.#}

    function debounceFunction(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
</script>
<script>
    {% if request.user.is_authenticated %}
        const logoutTimeout = setTimeout(
            window.setInterval(() => location = window.location.href.replaceAll(window.location.origin, ""), ({{ fecha_session_expira|default:'0' }} +2) * 1000, 500)
        );
    {% endif %}
</script>
<script>
    function consultar(pk, nombre, accion, ocultar = false) {
        $.ajax({
            type: "GET",
            url: "{{ ruta }}",
            data: {'action': accion, 'id': pk},
            success: function (data) {
                if (data.result === true) {
                    if (ocultar) {
                        $('#modalconsultacerrar').hide();
                    }
                    $('.tablaaqui').html(data.data);
                    if (typeof functionModalConsultar === "function") {
                        functionModalConsultar();
                    }
                    $('#frmConsulta #nombre').html(nombre);
                    $('#modalConsulta').modal({backdrop: 'static'}).modal('show');
                } else {
                    mensajeWarning(data.mensaje);
                }
            },
            error: function () {
                mensajeWarning("Error de conexión.");
            },
            dataType: "json"
        });
    }

    var msgType = '';
    {% if messages %}
        document.addEventListener("DOMContentLoaded", () => {
            {% for message in messages %}
                msgType = '{% if message.tags %}{{ message.tags }}{% endif %}'.toLowerCase();
                $.gritter.add({
                    text: '{{ message }}',
                    class_name: 'gritter-light',
                    position: 'top-left',
                    image: msgType === 'success' ? '/static/iconos/success.png' : msgType === 'warning' ? '/static/iconos/warning.png' : msgType === 'error' ? '/static/iconos/danger.png' : '/static/iconos/info.png',
                    time: '2000',
                });
                $('.gritter-close').html(
                    "Cerrar"
                );
                $('.gritter-image').attr(
                    "style", "width: 24px;height: 24px;"
                );
                {#Swal.fire('{{ message }}', '{{ nombreempresa }}', '{% if message.tags %}{{ message.tags }}{% endif %}');#}
            {% endfor %}
        });
    {% endif %}

    function notificarEmail(action, id, titulo, ruta) {
        Swal.fire({
            title: titulo,
            text: "Notificaciones por Correo Electronico",
            type: 'warning',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, deseo hacerlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                $('#modalEmailLoad').modal({backdrop: 'static', keyboard: false});
                $('#codigo').html('CONECTANDO CON EL SERVIDOR');
                $.ajax({
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}', 'action': action, 'id': id,
                    },
                    url: ruta,
                    type: "GET",
                    success: function (data) {
                        var object = JSON.parse(data)
                        if (object.respuesta === true) {
                            $('#modalEmailLoad').modal('hide');

                            Swal.fire({
                                title: 'Notificación Enviada al Correo',
                                text: "Esta acción no se puede revertir.",
                                type: 'success',
                                showCancelButton: false,
                                allowOutsideClick: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })

                        } else {
                            $('#modalEmailLoad').modal('hide');
                            Swal.fire(object.mensaje, 'Alerta', 'error')
                        }
                    },
                    error: function () {
                        $('#modalEmailLoad').modal('hide');
                        Swal.fire(
                            "Error de conexión.",
                            'Alerta',
                            'error'
                        )
                    },
                });


            } else {
                Swal.fire(
                    'Acción Anulada',
                    '{{ nombreempresa }}',
                    'error'
                )
            }
        })

    }


    function eliminar(pk, nombre, accion, dict_url_vars = "{{ dict_url_vars|default:'' }}") {
        $('#frmEliminar #id').val(pk);
        $('#frmEliminar #id_dict_url_vars').val(dict_url_vars);
        $('#frmEliminar #elimNombre').html(nombre);
        $('#frmEliminar #action').val(accion);
        $('#modalEliminar').modal({backdrop: 'static'}).modal('show');
    }


    function eliminarConComentario(pk, nombre, accion, dict_url_vars = "{{ dict_url_vars|default:'' }}") {
        $('#frmEliminarConComentario #id').val(pk);
        $('#frmEliminarConComentario #id_dict_url_vars').val(dict_url_vars);
        $('#frmEliminarConComentario #elimNombre').html(nombre);
        $('#frmEliminarConComentario #action').val(accion);
        $('#modalEliminarConComentario').modal({backdrop: 'static'}).modal('show');
    }

    function eliminarajax(pk, nombre, accion, titulo=`Estas a punto de eliminar este registro ${nombre}`) {
        Swal.fire({
            title: titulo,
            text: "Esta acción es irreversible",
            type: 'warning',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, deseo hacerlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                pantallaespera();
                $.ajax({
                    type: 'POST',
                    url: '{{ reques.path }}',
                    async: false,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: accion,
                        id: pk,
                    },
                    dataType: "json",
                    beforeSend: function () {
                        pantallaespera();
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.error === false) {
                        location.reload();
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setTimeout($.unblockUI, 1);
                    mensajeWarning('Error en el servidor');
                }).always(function () {
                });
            }
        })
    }

    const tabla = $('#tabla').DataTable({
        responsive: true,
        ordering: false,
        paging: false,
        searching: false,
        bInfo: false,
        {#dom: "<'row'<'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l><'col-sm-12 col-md-4'B>>" +#}
        {#    "<'row'<'col-sm-12'tr>>" +#}
        {#    "<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",#}
        dom: 'Bfrtip',
        language: {
            "url": '/static/js/i18n/Spanish.json'
        },
        buttons: []
    });
    tabla.buttons().container().appendTo('#tabla .col-md-6:eq(0)');

    $('.theDataTable').DataTable({
        responsive: true,
        bInfo: false,
        ordering: false,
        {#dom: "<'row'<'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l><'col-sm-12 col-md-4'B>>" +#}
        {#    "<'row'<'col-sm-12'tr>>" +#}
        {#    "<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",#}
        dom: 'Bfrtip',
        language: {
            "url": '/static/js/i18n/Spanish.json'
        },
        buttons: []
    });

    $('#tabla tbody').on('click', 'tr', function () {
        var data = tabla.row(this).data();
    });

    $(document).ready(function () {
        const tabla_paginada = $('.tabla_paginada').DataTable({
            responsive: true,
            ordering: false,
            paging: true,
            searching: true,
            bInfo: true,
            dom: "<'row'<'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l><'col-sm-12 col-md-4'B>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            {#dom: 'Bfrtip',#}
            language: {
                "url": '/static/js/i18n/Spanish.json'
            },
            buttons: []
        });
        tabla_paginada.buttons().container().appendTo('.tabla_paginada .col-md-6:eq(0)');
        $('.tabla_paginada tbody').on('click', 'tr', function () {
            var data = tabla_paginada.row(this).data();
        });
    });


    $(document).ready(function () {
        $('.select2-multiple').select2({width: '100%'});
        $('.select2-simple').select2({width: '100%'});
        $('.select2').select2({width: '100%'});
    });

    function getPromise(url, params) {
        return new Promise((resolve, reject) => {
            //$.get(url, {data: JSON.stringify(params)}, function (data) {
            $.get(url, params, function (data) {
                resolve(data);
            }, 'json').fail(function (jqXHR, status, error) {
                reject({jqXHR: jqXHR, status: status, error: error});
            });
        });
    }

    function postPromise(url, params) {
        return new Promise(resolve => {
            // $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}', data: JSON.stringify(params)}, function (data) {
            $.post(url, params, function (data) {
                resolve(data);
            }, 'json');
        });
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });


    function pantallaespera() {
        $.blockUI({
            message: '<span class="spinner-grow spinner-border-lg text-primary" role="status" aria-hidden="true" style="width: 5rem; height: 5rem;"></span>',
            css: {
                backgroundColor: 'transparent',
                border: '0',
                zIndex: 9999999
            },
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.8,
                zIndex: 9999990
            }
        });
    }

    function alertaSuccess(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'success',
            title: mensaje,
            showConfirmButton: false,
            timer: 1000
        })
    }

    function alertaInfo(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'info',
            title: mensaje,
            showConfirmButton: false,
            timer: 1000
        })
    }

    function alertaWarning(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'warning',
            title: mensaje,
            showConfirmButton: false,
            timer: 1000
        })
    }

    function alertaDanger(mensaje) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            type: 'error',
            title: mensaje,
            showConfirmButton: false,
            timer: 1000
        })
    }

    function mensajeSuccess(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'success')
    }

    function mensajeWarning(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'warning')
    }

    function mensajeDanger(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'error')
    }

    function mensajeInfo(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'error')
    }


    function back() {
        history.back();
    }

    tooltips = function () {
        $(".tl").tooltip({placement: "left"});
        $(".tr").tooltip({placement: "right"});
        $(".tu").tooltip({placement: "top"});
        $(".tb").tooltip({placement: "bottom"});
    };

    tooltips();

    $('#contenedorOnlineClick').on('click', function () {
        pantallaespera()
        $.ajax({
            type: "GET",
            url: "/panel/",
            data: {'action': 'consultarContectados'},
            success: function (data) {
                setTimeout($.unblockUI, 1);
                if (data.result === true) {
                    $('#contenedorOnline').html(data.data);
                } else {
                    mensajeDanger(data.mensaje);
                }
            },
            error: function () {
                setTimeout($.unblockUI, 1);
                mensajeDanger("Error de conexión.");
            },
            dataType: "json"
        });
    })
    showWaiting = function (titulo, mensaje, close) {
        var panel = $("#waitpanel");
        $("#waitpaneltitle").html(titulo);
        $("#waitpanelbody").html(mensaje);
        if (!close) {
            panel.modal({keyboard: false, backdrop: 'static'});
        }
        panel.modal("show");
    };

</script>
<script>
    function intComma(x, cantDec = 2) {
        var val = x.toString().replace('.', ',');
        var n = val.split(',')[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        var numDec = '0'.repeat(cantDec);
        var puntDec = ',';
        if (val.split(',').length > 1) {
            numDec = val.split(',')[1] + '0'.repeat(cantDec - val.split(',')[1].length < 0 ? 0 : cantDec - val.split(',')[1].length);
        }
        return `${n}${puntDec}${numDec}`
    }

    function intCommaToNum(x) {
        var valores = x.toString().split(',');
        return parseFloat(`${valores[0].replace('.', '')}.${valores.length > 1 ? valores[1] : '00'}`);
    }
</script>
<script>
    $(function () {
        if (screen.width <= 720) {
            $('#content, #pedidoContainer').addClass('px-1');
            $('#navbarPanel').addClass('px-0');
            $('#navbarBrandPanel').addClass('pl-2');
        }

        window.onresize = function () {
            if (screen.width <= 720) {
                $('#content, #pedidoContainer').addClass('px-1');
                $('#navbarPanel').addClass('px-0');
                $('#navbarBrandPanel').addClass('pl-2');
            } else {
                $('#content, #pedidoContainer').removeClass('px-1');
                $('#navbarPanel').removeClass('px-0');
                $('#navbarBrandPanel').removeClass('pl-2');
            }
        };
    });
</script>
<script>
    function getPromise(url, params) {
        return new Promise((resolve, reject) => {
            //$.get(url, {data: JSON.stringify(params)}, function (data) {
            $.get(url, params, function (data) {
                resolve(data);
            }, 'json').fail(function (jqXHR, status, error) {
                reject({jqXHR: jqXHR, status: status, error: error});
            });
        });
    }

    function getBase64File(file) {
        var reader = new FileReaderSync();
        return {"base64": reader.readAsDataURL(file), "filename": file.name};
        {#return new Promise((resolve, reject) => {#}
        {#    var reader = new FileReader();#}
        {#    reader.readAsDataURL(file);#}
        {#    console.log(reader.result);#}
        {#    reader.onload = () => resolve({"base64": reader.result, "filename": file.name});#}
        {#    reader.onerror = error  => reject(error);#}
        {# });#}
    }
</script>
<script>
    {#$(document).ajaxStart(function () {#}
    {#    pantallaespera();#}
    {# });#}
    {#$(document).ajaxStop(function () {#}
    {#    $.unblockUI();#}
    {# });#}

    async function subirArchivoTemporal(nombre_campo, file) {
        pantallaespera();
        let formData = new FormData();
        formData.append('nombre_campo', nombre_campo);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('action', 'subir_archivo');
        formData.append('datatype', 'json');
        formData.append(nombre_campo, file);
        let response = await fetch('/archivo-temporal/0/', {
            method: 'POST',
            credentials: 'same-origin',
            body: formData
        });
        $.unblockUI();
        return await response.json();
    }
</script>
<script>
    function insertAnexoUrlSummernote(ctr, url, nombre) {
        $(`#${ctr}`).summernote('pasteHTML', `<a target="_blank" class="custom-btn-link" href="${url}">${nombre}</a>`);
    }
</script>
<script>
    $(function (a) {
        {% if "funcionJs" in request.GET %}
            eval("{{ request.GET.funcionJs|get_decrypt|escapejs }}");
        {% endif %}
        const contentDiv = $('#content');
        if (contentDiv.height() < $(window).height()) {
            contentDiv.height($(window).height());
        }
    });
</script>
<script>
    $('body').on('change', "input[type=date]", function () {
        setDateToHumanLang(this);
    });
    $(function () {
        $('input[type=date]').toArray().forEach((value, index, array) => {
            setDateToHumanLang(value);
        });
    });

    function setDateToHumanLang(ctr) {
        let ctrl = $(ctr);
        $(ctrl).parent().children('.fechaEnLenguajeHumano').remove();
        if ($(ctrl).val()) {
            if ($(ctrl).parent().attr("class") && !($(ctrl).parent().attr("class").indexOf("input-group") >= 0)) {
                $(ctrl).parent().append(
                    `
                        <div class="fechaEnLenguajeHumano">
                            <small style="font-weight: bold;">
                                ${new Date(Date.parse($(ctrl).val(), 'YYYY-MM-DD') + 86400 * 1000).toLocaleDateString('es-ES', {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    })}
                            </small>
                        </div>
                    `
                );
            }
        }
    }
</script>
<script>
    $(function () {
        $('.normal-select2').select2();
        $('.ajax-select2').toArray().forEach(function (val, indx) {
            let datos = [];
            if ($(val).attr("data-selected")) {
                let j = JSON.parse($(val).attr("data-selected"));
                datos = [j];
            }
            $(val).select2({
                allowClear: true,
                data: datos,
                ajax: {
                    url: function (params) {
                        let camposdependientes = "";
                        let term = "";
                        const dataCamposDependientes = $(this).attr("data-camposdependientes");
                        const ajaxselect2action = $(this).attr("data-ajaxselect2action") ? $(this).attr("data-ajaxselect2action") : "";
                        if (dataCamposDependientes) {
                            let j = JSON.parse(dataCamposDependientes);
                            let json = {};
                            Object.keys(j).forEach(key => {
                                if ($(key).val()) {
                                    json[j[key]] = $(key).val();
                                }
                            });
                            camposdependientes = JSON.stringify(json);
                        }
                        if (typeof params.term != "undefined") {
                            term = params.term.trim();
                        }
                        return `/ajaxrequest/${ajaxselect2action}?&criterio=${term}&camposdependientes=${camposdependientes}`;
                    },
                    dataType: 'json',
                    delay: 500,
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,

                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: false
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 0
            });
        });
    });

    function select2AjaxModal() {
        $('.normal-select2-modal').select2();
        $('.ajax-select2-modal').toArray().forEach(function (val, indx) {
            let datos = [];
            if ($(val).attr("data-selected")) {
                let j = JSON.parse($(val).attr("data-selected"));
                datos = [j];
            }
            $(val).select2({
                allowClear: true,
                data: datos,
                ajax: {
                    url: function (params) {
                        let camposdependientes = "";
                        let term = "";
                        const dataCamposDependientes = $(this).attr("data-camposdependientes");
                        const ajaxselect2action = $(this).attr("data-ajaxselect2action") ? $(this).attr("data-ajaxselect2action") : "";
                        if (dataCamposDependientes) {
                            let j = JSON.parse(dataCamposDependientes);
                            let json = {};
                            Object.keys(j).forEach(key => {
                                if ($(key).val()) {
                                    json[j[key]] = $(key).val();
                                }
                            });
                            camposdependientes = JSON.stringify(json);
                        }
                        if (typeof params.term != "undefined") {
                            term = params.term.trim();
                        }
                        return `/ajaxrequest/${ajaxselect2action}?&criterio=${term}&camposdependientes=${camposdependientes}`;
                    },
                    dataType: 'json',
                    delay: 500,
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,

                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: false
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 0
            });
        });
    }
</script>
<script>
    const modalPost = $('#modalPost');
    const modalGet = $('#modalGet');
    const modalPostAjax = $('#modalPostAjax');

    function ajaxVerModal(modalElem, action, id, icon, tamanio_modal = null, ruta = null, aditionalData = {}, funtionsAfterRender = []) {
        let dataAjax = {
            'action': action,
            'pk': id,
            "dict_url_vars": '{{ dict_url_vars }}',
            'dict_url_vars_input': '{{ dict_url_vars_input }}'
        };
        for (const [key, value] of Object.entries(aditionalData)) {
            dataAjax[key] = value;
        }
        modalElem.find('.modal-dialog').attr("class", "modal-dialog");
        pantallaespera()
        $.ajax({
            type: "GET",
            url: ruta ? ruta : "{{ ruta }}",
            data: dataAjax,
            success: function (data) {
                $.unblockUI();
                if (data.result === true) {
                    var dataRender = data;
                    dataRender["idAction"] = id;
                    console.log(dataRender);
                    modalElem.find('.icono').attr('class', icon);
                    modalElem.find('.accion').text(data.titulo);
                    modalElem.find('.tablaaqui').html(data.data);
                    modalElem.modal({backdrop: 'static'}).modal('show');
                    if (tamanio_modal) {
                        modalElem.find('.modal-dialog').attr("class", `modal-dialog ${tamanio_modal}`);
                    }
                    if (typeof data.execJs === "string") {
                        eval(data.execJs);
                    }
                    for (let i = 0; i < funtionsAfterRender.length; i++) {
                        funtionsAfterRender[i](dataRender);
                    }
                    select2AjaxModal();
                } else {
                    mensajeDanger(data.mensaje);
                }
            },
            error: () => mensajeDanger("Error de conexion."),
            dataType: "json"
        });
    }

    function verModalPost(action, id, icon, tamanio_modal = null, ruta = null, aditionalData = {}, funtionsAfterRender = []) {
        ajaxVerModal(modalPost, action, id, icon, tamanio_modal, ruta, aditionalData, funtionsAfterRender);
    }

    function verModalGet(action, id, icon, tamanio_modal = null, ruta = null, aditionalData = {}, funtionsAfterRender = []) {
        ajaxVerModal(modalGet, action, id, icon, tamanio_modal, ruta, aditionalData, funtionsAfterRender);
    }

    function verModalPostAjax(action, id, icon, tamanio_modal = null, ruta = null, aditionalData = {}, funtionsAfterRender = []) {
        ajaxVerModal(modalPostAjax, action, id, icon, tamanio_modal, ruta, aditionalData, funtionsAfterRender);
    }

    modalPost.on('hidden.bs.modal', function (e) {
        modalPost.find('.tablaaqui').html('');
    });
    modalGet.on('hidden.bs.modal', function (e) {
        modalGet.find('.tablaaqui').html('');
    });
    modalPostAjax.on('hidden.bs.modal', function (e) {
        modalPostAjax.find('.tablaaqui').html('');
    });
</script>
<script src="/static/js/sysend.js"></script>
<script>
    sysend.on('login', function (data) {
        location = data.location;
    });
</script>
<script>
    function contactarwhatsapp(tel, nombre) {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            let url = `https://wa.me/${tel}?text=Hola ${nombre}`;
            window.open(url);
        } else {
            let url = `https://web.whatsapp.com/send?l=en&phone=${tel}&text=Hola ${nombre}`;
            window.open(url);
        }
    }

    openwindow_reporte = function (url, width, height) {
        newwindow = window.open(url, 'name', 'height=' + height + ' ,width=' + width);
    };


    openwindow = function (verb, url, data, target) {
        var form = document.createElement("form");
        form.action = url;
        form.method = verb;
        form.target = target || "_self";
        if (data) {
            for (var key in data) {
                var input = document.createElement("textarea");
                input.name = key;
                input.value = typeof data[key] === "object" ? JSON.stringify(data[key]) : data[key];
                form.appendChild(input);
            }
            var csrf = document.createElement("input");
            csrf.name = 'csrfmiddlewaretoken';
            csrf.value = '{{ csrf_token }}';
            form.appendChild(csrf);
        }
        form.style.display = 'none';
        document.body.appendChild(form);
        form.submit();
    };

        function contactarcliente(telefono, nombrecliente) {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                window.open(`https://api.whatsapp.com/send?phone=${telefono}&text=Hola ${nombrecliente}`);
            } else {
                window.open(`https://web.whatsapp.com/send?l=en&phone=${telefono}&text=Hola ${nombrecliente}`);
            }
        }
</script>
<script src="/static/assets/plugins/moment/moment.js"></script>
<script src="/static/assets/plugins/moment/locale/es-us.js"></script>
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/assets/plugins/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
{% include 'service_worker_unregister.html' %}
<script src="/static/webpush/registerSw.js?v=3.0"></script>
{% block jscript %}
{% endblock %}

<link rel="stylesheet" href="/static/fancybox/css/core.css"/>
<script src="/static/fancybox/js/core.js"></script>
<script src="https://kit.fontawesome.com/a96c5b6f8d.js" crossorigin="anonymous"></script>
</body>
</html>