{% extends 'sitio/perfil/baseperfil.html' %}
{% load templatefunctions %}

{% block contentperfil %}

    <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
        <!-- Basic info-->
        <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1"><i
                        class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0">Información Basica</h2>
                </div>
                <form name="frmPerfil" id="frmPerfil" method="POST" action="{{ request.path }}"
                      enctype="multipart/form-data"> {% csrf_token %}
                    <input name="action" value="changeperfil" type="hidden">
                    <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                        <div class="col-sm-6">
                            <label class="form-label" for="fn">Nombre <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="{{ request.user.first_name }}" required
                                   id="id_nombres" name="first_name" placeholder="Nombre">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="fn">Apellidos <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="{{ request.user.last_name }}" required
                                   id="id_last_name" name="last_name" placeholder="Apellidos">
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="email">Ubicación <span class="text-danger">*</span></label>
                            <select class="form-select" id="id_ciudad" name="ciudad" required>
                                <option value="{{ request.user.ciudad.id }}"
                                        selected>{{ request.user.ciudad }}, {{ request.user.ciudad.provincia }}, {{ request.user.ciudad.provincia.pais }}</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label" for="email">Escribe tu número de WhatsApp: <span
                                    class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"
                                      id="prefijotel">(+{{ request.user.ciudad.provincia.pais.codigotelefono }})</span>
                                <input required class="form-control valnum" type="tel" value="{{ request.user.telefono }}"
                                       id="id_telefono" placeholder="Tu número de WhatsApp"  maxlength="15"
                                       name="telefono" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end pt-3">
                            <a class="btn btn-secondary" href="{{ request.path }}">Cancelar</a>
                            <button class="btn btn-primary ms-3" type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js?version=11"></script>
    <script>
        $(function () {

            function formRepoCiudad(repo) {
                if (repo.loading) {
                    return repo.text;
                }
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    return $(`<b>${repo.name}</b>, <span class="text-muted">${repo.provincia}, ${repo.pais}</span>`);
                } else {
                    return $(`<b>${repo.name}</b>, <span class="text-muted">${repo.provincia}, ${repo.pais}</span>`);
                }
            }

            ItemDisplayCiudad = function (repo) {
                if (repo.name) {
                    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                        if (repo.name.length >= 18) {
                            return $(`<span style="font-size: 11px"><b>${repo.name}</b></span>`);
                        } else {
                            return $(`<span style="font-size: 11px"><b>${repo.name}</b> ${repo.pais}</span>`);

                        }
                    } else {
                        return $(`<b>${repo.name}</b>, <span class="text-muted">${repo.provincia}, ${repo.pais}</span>`);
                    }
                } else {
                    {% if request.user.ciudad %}
                        return '{{ request.user.ciudad }}, {{ request.user.ciudad.provincia }}, {{ request.user.ciudad.provincia.pais }}'
                    {% else %}
                        return 'Busca tu ciudad';
                    {% endif %}
                }
            };

            $("#id_ciudad").select2({
                width: '100%',
                placeholder: "Consultar Ciudades",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/consultas?action=buscarlocalidad";
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formRepoCiudad, // omitted for brevity, see the source of this page
                templateSelection: ItemDisplayCiudad // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#prefijotel").html(`(+${evt.params.data.prefijo})`);
            });

        })
    </script>
{% endblock %}