{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/fancybox/css/core.css"/>
{% endblock %}
{% block content %}

    <div class="panel panel-inverse" data-sortable-id="form-stuff-2">

        <div class="panel-heading ui-sortable-handle">
            <h4 class="panel-title">{{ titulo }} Formulario</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                        class="fa fa-expand"></i></a>
            </div>
        </div>

        <div class="panel-body">

            <form method="post" enctype="multipart/form-data" action="{{ ruta }}"
                  class="form-horizontal form-label-left">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ pk|default:0 }}"/>
                <input type="hidden" name="action" value="{{ action }}"/>
                <fieldset>
                    <legend>Transacción</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <h5 class="h5">Comprobante</h5>
                                <div>
                                    <input class="form-control" type="file"
                                           id="id_archivo_pago" data-max-file-size="3M"
                                           data-default-file="{{ obj.archivo.url }}"
                                           data-allowed-file-extensions="jpg jpeg png tiff jfif pdf">
                                    {% with urlarchivo='https://docs.google.com/gview?url='|add:URL_GENERAL|add:obj.archivo.url|add:'&embedded=true' %}
                                        <a {% if obj.archivo_is_image %}data-fancybox="image"
                                           href="{{ obj.archivo.url }}" {% else %} data-fancybox data-type="iframe"
                                           href="{{ urlarchivo }}" {% endif %} class="btn btn-link px-0">
                                            Ver comprobante en otra ventana
                                        </a>
                                    {% endwith %}
                                    o
                                    <a class="btn btn-link pl-0"
                                       href="{{ obj.archivo.url }}" target="_blank">
                                        Descargar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <h5 class="h5">Método de pago</h5>
                                <div class="form-control">
                                    {{ obj.get_metodo_pago_display }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <h5 class="h5">Cuenta</h5>
                                <div class="form-control">
                                    {% if obj.cuenta_emp %}
                                        {{ obj.cuenta_emp.num_cuenta }} - {{ obj.cuenta_emp.ent_fin.nombre }}
                                    {% else %}
                                        Ninguna
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <h5 class="h5">Valor</h5>
                                <div class="form-control">
                                    {{ obj.valor }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <h5 class="h5">Usuario</h5>
                                <div class="form-control">
                                    {{ obj.user.username }} - {{ obj.user.get_full_name }}
                                    - {{ obj.user.usuarios.documento|default:'' }}
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Respuesta</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <h5 class="h5">Estado de la transacción</h5>
                                <select required="" class="form-control" name="estado" id="id_estado">
                                    <option value="PENDIENTE">
                                        Pendiente
                                    </option>
                                    <option value="EN_CORRECCION">
                                        Mandar a corregir
                                    </option>
                                    <option value="APROBADO">
                                        Aprobar
                                    </option>
                                    <option value="RECHAZADO">
                                        Rechazar
                                    </option>
                                </select>
                                <div class="invalid-feedback" id="errorMessageestado"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <h5 class="h5">Observacion</h5>
                                <textarea placeholder="Sea claro y específico" rows="4" required="" class="form-control"
                                          id="id_observacion"
                                          name="observacion"></textarea>
                                <div class="invalid-feedback" id="errorMessageobservacion"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <a class="btn btn-danger" style="color: #ffffff;" href="{{ ruta }}">
                        <i class="fa fa-window-close"></i> Cancelar
                    </a>
                    <button {% if action != 'ver' %}type="submit" id="submit"{% else %}disabled{% endif %}
                            class="btn btn-success">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js?version=11"></script>
    <script src="/static/fancybox/js/core.js"></script>
    {% verbatim %}
    <script>
        var imagen1 = $('#id_archivo_pago').dropify({
            messages: {
                default: 'Arrastre y suelte el archivo del depósito o haga clic aquí.',
                replace: 'Arrastre y suelte el archivo del depósito o haga clic aquí.',
                remove: 'Eliminar',
                error: 'Ocurrió un error!'
            },
            error: {
                fileSize: "El tamaño del archivo debe ser máximo ({{ value }}).",
                fileExtension: "Sólo puede subir los archivos con las extensiones ({{ value }})."
            },
            imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif"]
        });
    </script>
    {% endverbatim %}
{% endblock %}